@import url(https://fonts.google.com/specimen/DM+Sans);
*{
    box-sizing: border-box;
}
body{
    background-color: hsl(27, 66%, 92%);
    font-family: 'DM Sans',sans-serif;
}
main{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
}
p{
    font-size: 18px;
}
.balance{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 40px;
}
.balance h3{
    margin-top: 2px;
    margin-bottom: 0;
    color: hsl(33, 100%, 98%);
    font-weight: 700;
    font-size: 1.5rem;
}
.balance p{
    margin-bottom: 2px;
    color: hsl(33, 100%, 98%);
    font-weight: 400;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    background: linear-gradient(90deg,hsl(9, 62%, 65%),rgb(233, 94, 67));
    margin-bottom: 20px;
}
.circle-container{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
}
.circles{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: relative;
}
.one{
    background-color: transparent;
    border: 2px solid hsl(33, 100%, 98%);
    z-index: 999;
    left: 12.5%;
}
.two{
    background-color: hsl(25, 47%, 15%);
    border: 2px solid hsl(25, 47%, 15%);
    right: 12.5%;
}
.container{
    background-color: hsl(33, 100%, 98%);
    border-radius: 20px;
    padding: 1rem;
    height: max-content;
}
.container h4{
    color: hsl(25, 47%, 15%);
    font-size: 1.5rem;
    margin: 0 auto 30px 20px;
}
.days-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 250px;
}
.enclose{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:  calc(100% / 7);
    margin:2.5rem  0 0;
}
.days{
    width: 70px;
    background:hsl(10, 79%, 65%);
    border-radius: 5px;
}
.enclose label{
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: 10px;
    color: hsl(28, 10%, 53%);
}
.info{
    background-color: hsl(25, 47%, 15%);
    color: hsl(33, 100%, 98%);
    font-weight: 700;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 0 1rem;
    visibility: hidden;
}
hr{
    margin: 40px 20px;
    background-color: hsl(30, 3%, 75%);
    border: 1px solid transparent;
}
.bottom{
    margin-bottom: -20px;
    margin-top: 10px;
    color: hsl(28, 10%, 53%);
}
.left{
    margin-left: 20px;
}
.big{
    font-size: 2rem;
    font-weight: 700;
    color:hsl(25, 47%, 15%);
    display: block;
    margin-top: 10px;
}
.small{
    color: hsl(25, 47%, 15%);
    font-weight: 700;
}
.right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    bottom: 2.2rem;
    right: 20px;
}
.attribution {
    font-size: 13px;
    text-align: center;
  }
  .attribution a {
    color: hsl(4, 100%, 67%);
    font-weight: 700;
    text-decoration: none;
  }
  @media only screen and (max-width:800px){
    main{
        width: 90%;
    }
    p{
        font-size: 15px;
    }
    .balance h3{
        margin: 2px 0;
        font-size: 1.2rem;
    }
    .balance{
        padding: 0 20px;
    }
    .balance p{
        margin-bottom: 1px;
    }
    .header{
        padding: 0.8rem;
        margin-bottom: 20px;
    }
    .circle-container{
        padding: 0.5rem;
    }
    .circles{
        height: 60px;
        width: 60px;
    }
    .container{
        padding: 0.5rem;
    }
    .container h4{
        font-size: 1.2rem;
        text-align: left;
    }
    .days-container{
        height: 250px;
    }
    .enclose{
        width:  calc(100% / 10);
        margin:2rem 10px 0 10px;
    }
    .days{
        width: 55px;
        margin-bottom: 20px;
    }
    .enclose label{
        font-size: 0.8rem;
        margin-top: 0;
    }
    .info{
        margin-bottom: 5px;
        padding: 0 0.5rem;
    }
    hr{
        margin: 20px 20px;
    }
    .big{
        font-size: 1rem;
        margin-top: 10px;
    }
    .right{
        bottom: 1.4rem;
    }
    .attribution {
       display: none;
      }
  }
  @media only screen and (max-width:500px){
    main{
        width: 90%;
    }
    p{
        font-size: 14px;
    }
    .balance h3{
        margin: 2px 0;
        font-size: 1rem;
    }
    .balance{
        padding: 0 20px;
    }
    .balance p{
        margin-bottom: 1px;
    }
    .header{
        padding: 0.5rem;
        margin-bottom: 20px;
    }
    .circle-container{
        padding: 0.5rem;
    }
    .circles{
        height: 50px;
        width: 50px;
    }
    .container{
        padding: 0.5rem;
    }
    .container h4{
        font-size: 1rem;
        text-align: left;
    }
    .days-container{
        height: 250px;
    }
    .enclose{
        width:  calc(100% / 8);
        margin:2rem 0 0 0;
    }
    .days{
        width: 35px;
        margin-bottom: 20px;
    }
    .enclose label{
        font-size: 0.5rem;
        margin-top: 0;
    }
    .info{
        margin-bottom: 5px;
        padding: 0 0.2rem;
    }
    hr{
        margin: 20px 20px;
    }
    .big{
        font-size: 1rem;
        margin-top: 10px;
    }
    .right{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        bottom: 1.4rem;
        right: 20px;
    }
    .attribution {
       display: none;
      }
  }
